html {
  --primary : #000;
  --secondary: #fff;
  --primaryopaque1: #121212;
  --primaryopaque2: #1c1c1c;
  --bg: #343d52;
  --bgopaque: #48536e;
  --bgopaque2: #4a6bbd;
  --bglight: #D9E3F0;
  --highlight: aqua;

  --greydark: #4B4B4C;
  --greylight: #888;

  --ease: all 0.5s ease;
  --linear: all 0.3s linear;

  --king: url('Images/Cursors/black king.cur');
  --queen: url('Images/Cursors/black queen.cur');
  --rook: url('Images/Cursors/black rook.cur');
  --bishop: url('Images/Cursors/black bishop.cur');
  --knight: url('Images/Cursors/black knight.cur');
  --pawn: url('Images/Cursors/black pawn.cur');
}

html[data-theme="light"] {
  --primary : #fff;
  --secondary: #000;
  --primaryopaque1: #f0f0f0;
  --primaryopaque2: #dedede;
  --bg: #FC6A03;
  --bgopaque: #FCAE1E;
  --bgopaque2: #ffbf4a;
  --bglight: #fce6c7;
  --highlight: #ffcd29;

  --king: url('Images/Cursors/white king.cur');
  --queen: url('Images/Cursors/white queen.cur');
  --rook: url('Images/Cursors/white rook.cur');
  --bishop: url('Images/Cursors/white bishop.cur');
  --knight: url('Images/Cursors/white knight.cur');
  --pawn: url('Images/Cursors/white pawn.cur');
}

html.transition, html.transition *, html.transition::before, html.transition::after {
  transition: all 0.75s ease !important;
  transition-delay: 0 !important;
}

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transform: translate3d(-1em,-0.5em,0);
  transition: var(--ease);
}

html[data-theme="dark"] #loader {
  background: #0E111F url(Images/darkloader.gif) no-repeat center center;
}

html[data-theme="light"] #loader {
  background: #FFF url(Images/lightloader.gif) no-repeat center center;
}

body {
  background: var(--bg) url("Images/background_simple_dark.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
  animation: bgslide 80s ease infinite;
  max-width: 100vw;
  overflow-y: scroll;
}

html[data-theme="light"] body:not([data-page="home"]){
  background-image: url("Images/background_simple_light.jpg");
}

body[data-page="home"] {
  background-image: none;
  background-repeat: no-repeat;
  animation: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primaryopaque1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bgopaque);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bgslide {
  0% {
    background-position : 0px 0px
  }

  50% {
    background-position : -1440px 0px
  }

  100% {
    background-position : 0px 0px
  }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes slidein-left {
  from {transform: translateX(-100%);}
  to {}
}
@keyframes slidein-right {
  from {transform: translateX(100%);}
  to {}
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--bgopaque);
  }

  100% {
    background-color: var(--primaryopaque1);
  }
}

.skeleton { animation: skeleton-loading 1s linear infinite alternate;}

.slideinleft { animation: fade 2s, slidein-left 1s;}
.slideinright { animation: fade 2s, slidein-right 1s;}

.h1main, .h1hold {
  font-size: 3em;
  font-weight: bold;
  display: inline;
  transition: var(--ease);
}
.h1hold {
  color: var(--bgopaque2);
}
.h1main:hover, .h1hold:hover {
  font-family: "Monaco", monospace;
  font-size: 5em;
}
.h2under {
  color: var(--bglight);
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: -0.5em;
  display: block;
  margin-bottom: 5em;
}
.hoptext, .hoptexthold {
  transition: var(--ease);
  display: inline-block;
  position: relative;
  margin-top: 0.1em;
  margin-right: 0.6em;
  margin-bottom: 0.5em;
}
.hoptexthold {
  font-style: italic;
  font-family: "Courier New", "Lucida Console", monospace;
  font-weight: 800;
  color: var(--highlight);
}
.hoptext:hover, .hoptexthold:hover {
  transform: translateY(-0.2em);
  color:  var(--primary);
}

h1{color: var(--secondary); font-family: "Courier New","Lucida Console", monospace;}
h2{color: var(--secondary)}
h3{color: var(--secondary)}
h4{color: var(--secondary)}
h5{color: var(--secondary)}
h6{color: var(--secondary)}

p{font-family: "Monaco", monospace; color: var(--secondary)}

form {
  margin: 3vw;
  padding: 2vw;
  background-color: var(--primaryopaque1);
  box-shadow: 0.1em 0.1em 1em #000;
  width: 70%;
  border-radius: 1vw;
  overflow: clip;
}
.formtitle {
  font-size: 2em;
  font-weight: bold;
  color: var(--secondary);
  margin-bottom: 1em;
  font-family: "Monaco", monospace;
}
input, textarea {
  display: block;
  background-color: var(--primaryopaque1);
  border: 0.1em solid var(--bg);
  border-radius: 0.2em;
  font-size: 1em;
  padding: 0.2vw;
  text-align: center;
  color: var(--secondary);
  font-family: "Monaco", monospace;
}
input::placeholder, textarea::placeholder {
  color: var(--greylight);
}
input:hover, textarea:hover,
input:focus, textarea:focus {
  box-shadow: 0.1em 0.1em 1em var(--secondary);
  border-color: var(--secondary);
}
input:hover::placeholder {
  color: var(--secondary);
}
.submit input {
  margin-top: 5vh;
  width: 100%;
  padding: 1vh;
  background-color: var(--bg);
  color: #fff;
  font-weight: bold;
}

.contactform {
  display: flex;
  flex-direction: row;
}
.contactform input{ 
  font-size: 1.2em;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.contactform textarea {
  width: 100%;
  height: 100%;
  resize: none;
  text-align: left;
  font-size: 1em;
  padding: 1vh;
}
.contactform .input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3vh;
}
.contactform .textarea {
  margin-left: 5%;
  width: 66.9%;
}

.project, .projectfocus {
  border: 0.2em solid var(--primary); background-color: var(--primaryopaque1); opacity: 0.9;
  color:var(--secondary); font-size: 1em; transition: var(--ease); width: 70%; overflow:hidden;
  display: flex; flex-direction: row, hand; gap:1em; margin-bottom: 2em;
}
.project:hover, .projectfocus:hover {
  background-color: var(--primaryopaque2);
}
.projectfocus {
  margin-bottom: 0; border-bottom: hidden; opacity: 1; background-color: var(--primary)
}
.project .project-image, .projectfocus .project-image {
  max-width: 20%;
  height:fill;
  display: block;
  object-fit: fill;
  border-right: 0.2em solid var(--primary);
}
.project h4, .project h5, .projectfocus h4, .projectfocus h5 {
  text-align: left;
}
.project .display .logo, .projectfocus .display .logo {
  float: left; margin-right: 1vw; margin-bottom: 1vw; cursor:inherit;
}
.projectinfo {
  display:none; border: 0.2em solid var(--primary); border-top:hidden; background-color: var(--primaryopaque1); opacity: 1;
  color:var(--secondary); font-size: 1em; transition: var(--ease); width: 70%; overflow:hidden; margin-bottom:2em;
}
.projectinfo .description {
  margin: 2vw;
}
.projectinfo iframe {
  height: 50vh;
}

.pic {height:100px;width:180px;border: var(--secondary); border-radius: 20px; border-style: double; transition: var(--ease)}
.pic:hover {height:200;width: 360px;}

.logo {width: 3vw; height: 3vw;}
marquee .logo {padding-right: 4vw;}

iframe {
  display: block;
  width: 100%;
  background-color: var(--bglight);
  border-color: var(--bg);
  border-style: solid none solid solid;
}

.subject {
  border-radius: 10px; background-color: var(--secondary); color: var(--primary); font-size: 1em; display:inline-block; 
  width:max-content; padding: 0.5em; margin: 0.5em;
}

.btn {padding: 10px;font-size: 10px;color: var(--secondary);background: #777777;border: var(--primary);border-radius: 5px;
      text-align: center; border:3px;border-style: solid;}
.btn:hover {padding: 10px;font-size: 15px;color: var(--secondary);background: #eb0000;border: var(--primary);border-radius: 5px;
      text-align: center; border:5px; border-style: solid;}

.file{display: inline-block; height: auto; width: auto; text-align: center; padding: 20px;  font-family: "Brush Script MT", cursive; font-style: italic; color: var(--secondary); font-size:1em; transition: var(--ease);}
.btn_image{padding: 10px; height:20px;width:20px; border-color: var(--secondary); border-radius: 10px; display: inline-block; transition: var(--ease);}

.mini {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
}
.mini .page {
  margin-left: 1em;
  margin-right: 1em;
  width: 15em;
  height: 20em;
  border-width: 0.2em;
  background-color: var(--primaryopaque1);
}
.mini .page h4, .mini .pagefocus h4{
  font-weight: bold;
  font-size: 1.2em;

}
.mini .page h5, .mini .pagefocus h5 {
  font-size: 0.8em;

}
.mini .page:hover, .mini .pagefocus:hover {
  width: 17em;
  height: 25em;
  padding-bottom: 3em;
  border-width: 0;
}
.mini .page:hover {
  box-shadow: 0.1em 0.1em 1em #000;
}
.select .page:hover {
  background-color: var(--bgopaque);
  border-width: 0.2em;
  box-shadow: 0 0 0 #000;
}
.mini .pagefocus:hover { 
  border-radius: 0;
  border-width: 0.2em;
  border-style: solid;
  border-image: linear-gradient(var(--angle), var(--secondary), var(--primary)) 1;
  animation: 3s rotateborder linear -1s infinite;
  box-shadow: 0 0 0 #000;
}
.mini .pagefocus {
  border-radius: 1em;
  transition: var(--ease);
  width: 15em;
  height: 20em;
  background-color: var(--primaryopaque1);
  box-shadow: 0.1em 0.1em 1em #000;
  overflow: hidden;
}
.mini .page:hover h4, .mini .pagefocus:hover h4{
  font-size: 2em;
}
.mini .page:hover h5, .mini .pagefocus:hover h5 {
  font-size: 1.2em;
}
.mini .page:hover .file, .mini .pagefocus .file {
  font-size: 1.5em;
}
.mini .page:hover .btn_image, .mini .pagefocus .btn_image {
  height:40px;width:40px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mini button {
  background-color: var(--bg);
  border-radius: 0.5em;
  border-width: 0;
  border-color: transparent;
  box-shadow: 0.1em 0.1em 1em #000;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.1em;
  color: var(--secondary);
  transition: var(--linear);
}
.mini button:hover {
  background-color: var(--secondary);
  color: var(--bg);
}
.select .page {
  background-color: transparent;
}

.dotbox {
  text-align:center;
  transform: translateY(2em);
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.dot {
  transition: var(--ease);
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 0.2em;
  background-color: var(--secondary);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: var(--bgopaque2);
  border-color: var(--secondary);
  border-width: 0.1em;
  border-style: solid;

}

.infobox {
  display: none;
  font-size: 1em;
  background-color: var(--primaryopaque1);
  color: var(--secondary);
  box-shadow: 1em 1em 1em #000;
  border-radius: 2em;
  width: 70%;
  margin: 2em;
  padding: 1em 0 0.5em 0;
  transition: var(--ease);
  overflow: none;
  margin-top :2em;
}
.infobox p {
  font-family: "Times New Roman", Times, serif; font-weight: 550; font-size: 1em; line-height: 1.4em;
  padding: 1em;
  background-color: var(--bg);
  color: #fff;
}

/* home page */
.start, .next {
  min-height: 100vh;
}
.next {
  transform: translateX(-1vw);
}
a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: underline;
  box-shadow: inset 0 0 0 0 var(--bg);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: var(--ease), box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}

.link:hover {
  text-decoration-color: var(--bg);
  cursor: var(--bishop), hand;
  box-shadow: inset 100vw 0 0 0 var(--bg);
  color: var(--bglight);
}

.profile {
  width: 70%;
}

.tonext {
  transform: rotate(270deg);
  margin-top: 0;
  bottom: 0;
  margin-bottom: 1em;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.pages { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 99.65vw;
  border-width: 0.3em;
  border-color: var(--secondary);
  border-style: double none double none;
  margin-left: -1.8em;
  padding: 1em;
  transition: var(--ease);
}
.pages:hover {
  background-image: linear-gradient(-45deg, var(--bg), var(--bgopaque), var(--bg), var(--bgopaque));
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradient 10s ease infinite
}

.page {
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 1em #000;
  border-width: 0;
  background: transparent;
  color: var(--secondary);
  margin-left: 1em;
  margin-right: 1em;
  width: 18em;
  height: 27em;
  overflow: hidden;
  align-content: left;
  justify-content: left;
  transition: var(--ease);
}
.page marquee {
  margin-bottom: 1em;
  color: var(--secondary);
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic
}
.pageimage {
  width: 101%;
  transform: translateX(-0.1em);
  height: 45%;
  background-repeat: no-repeat;
  border: groove var(--secondary);
  border-style: none none solid none;
  border-radius: 0.2em 0.2em 0 0;
  margin-bottom: 1em;
  transition: var(--ease);
}
.page .description {
  font-size: 1em;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1em;
}
.page:hover {
  width: 21em;
  height: 30em;
  background-color: var(--primaryopaque1);
  overflow: scroll;
  padding-bottom: 3em;
  --angle: 0deg;
  border-width: 0.2em;
  border-style: solid;
  border-image: linear-gradient(var(--angle), var(--secondary), var(--primary)) 1;
  box-shadow: 0.0em 0.0em 0em #000;
  animation: 3s rotateborder linear -1s infinite;
  border-radius: 0;
}
@keyframes rotateborder {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.page:hover::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.page:hover .description {
  font-size: 1.5em;
}
.page:hover .pageimage {
  border-radius: 0;
}

/** forms */
/* toggle checkbox */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--bg);
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: "";
  position: fixed;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--primary);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--bg);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active::after{
  width: 45px;
}

/** animated background effects **/
.upshape, .downshape {
  overflow: hidden;
  width: 100%;
  height: 140%;
  position: fixed;
  top: -1em;
  left: 0;
  z-index: -1000;
}

.upshape li, .downshape li {
  position: fixed;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  bottom: -9em;
}

.upshape li {
  animation: upbganimate 25s linear infinite;
}

.downshape li {
  animation: downbganimate 25s linear infinite;
}

.upshape li:nth-child(1) {
  left: 25%;
  width: 4em;
  height: 4em;
  animation-delay: 0s;
  animation-duration: 20s;
}


.upshape li:nth-child(2) {
  left: 10%;
  width: 2.2em;
  height: 2.2em;
  animation-delay: 2s;
  animation-duration: 12s;
}

.upshape li:nth-child(3) {
  left: 70%;
  width: 2em;
  height: 2em;
  animation-delay: 6s;
}

.upshape li:nth-child(4) {
  left: 40%;
  width: 3em;
  height: 3em;
  animation-delay: 0s;
  animation-duration: 18s;
}

.upshape li:nth-child(5) {
  left: 65%;
  width: 2.5em;
  height: 2.5em;
  animation-delay: 0s;
  animation-duration: 8s;
}

.upshape li:nth-child(6) {
  left: 50%;
  width: 5em;
  height: 5em;
  animation-delay: 3s;
  animation-duration: 20s;
}

.upshape li:nth-child(7) {
  left: 35%;
  width: 5em;
  height: 5em;
  animation-delay: 7s;
  animation-duration: 25s;
}

.upshape li:nth-child(8) {
  left: 75%;
  width: 3em;
  height: 3em;
  animation-delay: 15s;
  animation-duration: 35s;
}

.upshape li:nth-child(9) {
  left: 20%;
  width: 2em;
  height: 2em;
  animation-delay: 2s;
  animation-duration: 25s;
}

.upshape li:nth-child(10) {
  left: 85%;
  width: 6em;
  height: 6em;
  animation-delay: 0s;
  animation-duration: 30s;
}

.upshape li:nth-child(11) {
  left: 12%;
  width: 1em;
  height: 1em;
  animation-delay: 0s;
  animation-duration: 3s;
}


.upshape li:nth-child(12) {
  left: 54%;
  width: 0.6em;
  height: 0.5em;
  animation-delay: 5s;
  animation-duration: 4s;
}

.upshape li:nth-child(13) {
  left: 93%;
  width: 1.5em;
  height: 1.5em;
  animation-delay: 4s;
  animation-duration: 6s;
}

.upshape li:nth-child(14){
  left: 63%;
  width: 0.8em;
  height: 0.8em;
  animation-delay: 0s;
  animation-duration: 10s;
}

.upshape li:nth-child(15) {
  left: 33%;
  width: 1.2em;
  height: 1.2em;
  animation-delay: 0s;
  animation-duration: 7s;
}

@keyframes upbganimate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-100em) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }

}

.downshape li:nth-child(1) {
  left: 23%;
  width: 4em;
  height: 4em;
  animation-delay: 0s;
  animation-duration: 20s;
}


.downshape li:nth-child(2) {
  left: 54%;
  width: 2.2em;
  height: 2.2em;
  animation-delay: 2s;
  animation-duration: 12s;
}

.downshape li:nth-child(3) {
  left: 5%;
  width: 2em;
  height: 2em;
  animation-delay: 6s;
}

.downshape li:nth-child(4) {
  left: 98%;
  width: 3em;
  height: 3em;
  animation-delay: 0s;
  animation-duration: 18s;
}

.downshape li:nth-child(5) {
  left: 15%;
  width: 2.5em;
  height: 2.5em;
  animation-delay: 0s;
  animation-duration: 8s;
}

.downshape li:nth-child(6) {
  left: 68%;
  width: 5em;
  height: 5em;
  animation-delay: 3s;
  animation-duration: 20s;
}

.downshape li:nth-child(7) {
  left: 46%;
  width: 5em;
  height: 5em;
  animation-delay: 7s;
  animation-duration: 40s;
}

.downshape li:nth-child(8) {
  left: 81%;
  width: 3em;
  height: 3em;
  animation-delay: 15s;
  animation-duration: 35s;
}

.downshape li:nth-child(9) {
  left: 75%;
  width: 2em;
  height: 2em;
  animation-delay: 2s;
  animation-duration: 14s;
}

.downshape li:nth-child(10) {
  left: 40%;
  width: 6em;
  height: 6em;
  animation-delay: 0s;
  animation-duration: 30s;
}

.downshape li:nth-child(11) {
  left: 90%;
  width: 1em;
  height: 1em;
  animation-delay: 0s;
  animation-duration: 5s;
}


.downshape li:nth-child(12) {
  left: 86%;
  width: 0.6em;
  height: 0.5em;
  animation-delay: 5s;
  animation-duration: 8s;
}

.downshape li:nth-child(13) {
  left: 28%;
  width: 1.5em;
  height: 1.5em;
  animation-delay: 4s;
  animation-duration: 6s;
}

.downshape li:nth-child(14) {
  left: 90%;
  width: 0.8em;
  height: 0.8em;
  animation-delay: 0s;
  animation-duration: 10s;
}

.downshape li:nth-child(15) {
  left: 74%;
  width: 1.2em;
  height: 1.2em;
  animation-delay: 0s;
  animation-duration: 5s;
}

@keyframes downbganimate {

  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  0% {
    transform: translateY(-100em) rotate(720deg);
    opacity: 0.2;
    border-radius: 50%;
  }

}

/** custom cursors **/
.h1main:hover, .h1hold:hover, .hoptext:hover, .hoptexthold:hover {
  cursor: var(--pawn), hand;
}
.project, .projectfocus {
  cursor: var(--queen), hand;
}
.page {
  cursor: var(--knight), hand;
}
.mini .page {
  cursor: auto;
}
.select .page, .select .pagefocus {
  cursor: var(--rook), hand;
}
.submit input, .file, .btn_image, .mini button {
  cursor: var(--bishop), hand;
}


/** mobile optimisations **/
@media (orientation: portrait) {
  @media only screen and (max-width: 600px) {
    html {
      max-width: 150vw;
      transform: translateX(70vw);
    }
    body {
      max-width: 150vw;
    }

    form {
      width: 200vw;
      margin-left: -55vw;
    }
    .contactform, .contactform .input {
      flex-direction: column;
    }
    .contactform {
      flex-wrap: wrap;
      gap: 3vh;
    }
    .contactform .textarea {
      margin-left: 0;
      width: 100%;
    }
    .contactform textarea {
      text-align: center;
    }

    .next {
      min-height: 220vh;
    }
    .start {
      width: 100vw;
      min-height: 220vh;
      margin-left: -100vw;
      transform:  translateX(50vw);
    }
    .start .h1main, .start .h1hold {
      margin-top: 2vh;
    }

    #loader { 
      width: 260vw;
      height: 235vh;
      overflow: clip;
      transform: translate3d(-80vw, -1vh, 0);
    }

    h1 { font-size: 11vw;}
    .h2under { font-size: 5vw; margin-top: 0.2em}
    p {font-size: 5vw;}
    .p {width: 200vw; margin-left: -55vw;}
    
    .upshape, .downshape {
      display: none;
    }

    .project, .projectfocus, .projectinfo {
      width: 170vw;
      transform: translateX(-39vw);
    }
    .project .display .logo, .projectfocus .display .logo {margin-right: 1vh; margin-bottom: 1vh;}
    .logo {width: 4vh; height: 4vh;}

    .pages, .mini {
      width: 223.5vw;
      margin-left: -71vw;
    }
    .pages {
      margin-left: -71vw;
    }
    .mini {
      transform: translateX(5vw)
    }
    .page 
    {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .infobox {
      width: 200vw;
      transform: translateX(-63vw);
    }

    .tonext {
      display: none;
    }
  }
}

@media (orientation: landscape) {
  @media only screen and (max-height: 600px) {
    html {
      max-width: 150vw;
      transform: translateX(32vw);
    }
    
    body {
      max-width: 150vw;
    }

    form {
      width: 140vw;
      margin-left: -21vw;
    }
    
    .start, .next {
      min-height: 200vh;
    }
    .start {
      max-width: 115vw;
      margin-left: -70vw;
      transform: translateY(-15vh);
      transform: translateX(35vw);
    }
    .start .h1main, .start .h1hold {
      margin-top: 10vh;
    }

    .profile {
      width: 115vw;
    }
    
    #loader {
      width: 165vw;
      height: 165vh;
      overflow: clip;
      transform: translate3d(-33vw, -2vh, 0);
    }

    .upshape, .downshape {
      display: none;
    }
    
    h1 {
      font-size: 11vh;
    }
    
    .h2under {
      font-size: 5vh;
      margin-top: 0.2em;
    }
    
    p {
      font-size: 5vh;
    }

    .project, .projectfocus, .projectinfo {
      width: 115vw;
      transform: translateX(-9vw);
    }

    .logo {width: 5vw; height: 5vw;}

    .mini .page {
      margin-top: 1em;
    }
    
    .infobox {
      width: 130vw;
      transform: translateX(-20vw);
    }

    .tonext {
      display:none;
    }

    .pages, .mini  {
      width: 160.5vw;
      margin-left: -32vw;
    }
  }
}