html {
  --primary : #000;
  --secondary: #fff;
  --primaryopaque1: #121212;
  --primaryopaque2: #1c1c1c;
  --bg: #343d52;
  --bgopaque: #48536e;
  --greydark: #4B4B4C;
  --greylight: #888;

  --ease: all 0.5s ease;
  --linear: all 0.75s linear;
}

html[data-theme="light"] {
  --primary : #fff;
  --secondary: #000;
  --primaryopaque1: #f0f0f0;
  --primaryopaque2: #dedede;
  --bg: #FC6A03;
  --bgopaque: #FCAE1E;
}

html.transition, html.transition *, html.transition::before, html.transition::after {
  transition: all 0.75s ease !important;
  transition-delay: 0 !important;
}

#loader {
  position: fixed;
  width: 102%;
  height: 102%;
  z-index: 100;
  transform: translate3d(-1em,-1em,0);
  transition: var(--ease);
}

html[data-theme="dark"] #loader {
  background: #0E111F url(Images/darkloader.gif) no-repeat center center;
}

html[data-theme="light"] #loader {
  background: #FFF url(Images/lightloader.gif) no-repeat center center;
}

body {
  background: var(--bg) url("Images/background_simple_dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: clip; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Hide vertical scrollbar */
}

html[data-theme="light"] body:not([data-page="home"]){
  background-image: url("Images/background_simple_light.jpg");
}

body[data-page="home"] {
  background-image: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--greylight);
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--greydark);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  h1{color: var(--secondary); font-family: "Courier New","Lucida Console", monospace;}
  h2{color: var(--secondary)}
  h3{color: var(--secondary)}
  h4{color: var(--secondary)}
  h5{color: var(--secondary)}
  h6{color: var(--secondary)}

  p{font-family: "Garamond", Times, serif; color: var(--secondary)}

.left {
  left: 15em; margin-bottom: 0.5em; height:min-content; position: relative; transform: translateX(0); transition: var(--ease);
}
.left:hover {
  transform: translateX(-15em);
}
.right {
  right: 15em; margin-bottom: 0.5em; height:min-content; position: relative; transform: translateX(0); transition: var(--ease);
}
.right:hover {
  transform: translateX(15em);
}

.left:hover .project, .right:hover .project {
  border-color: var(--secondary); opacity: 1; background-color: var(--primary);
}

.info {
  display: inline-block; overflow:auto; border:2px solid var(--primaryopaque1);padding: 20px; 
  border-radius: 10px; color:var(--secondary);
  height: 200px; width: 200px; font-size: 14px; background-color:var(--primary);
  opacity:0.9; transition: var(--ease);
  }
.info:hover {
    height: 300px; width:300px; font-size: 21px; opacity:1; border-style: double; border-color: var(--secondary); border-width: 5px;
  }
.info::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.project {
  border:2px solid var(--primary); padding: 0.5em; background-color: var(--primaryopaque1); opacity:0.7; text-align:center;
  color:var(--secondary); font-size: 1em; transition: var(--ease); width: 55%; border-radius: 10em; overflow:hidden;
}
.project:hover {
  opacity:1; width:70%;
  background: linear-gradient(-45deg, var(--primary), var(--primaryopaque2), var(--primary), var(--primaryopaque2));
  background-size: 400% 400%; background-repeat: no-repeat; 
  background-attachment: fixed; animation: gradient 10s ease infinite;
  border-color: var(--secondary); border-radius: 1em; border-style: groove; border-width: 5px;
}
.description {
  font-size: 0em; transition: var(--linear);
}
.project:hover .description {
  margin-top: 0.1em; font-size: 0.9em;
}
.project .pic{
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.project:hover .pic{
  opacity: 1; height: auto;
}
.project .file{
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding:0;
}
.project:hover .file{
  opacity: 1; height: auto;
  padding:20px;
}

.pic{height:100px;width:180px;border: var(--secondary); border-radius: 20px; border-style: double; transition: var(--linear)}
.pic:hover{height:200;width: 360px;}

.subject {
  border-radius: 10px; background-color: var(--secondary); color: var(--primary); font-size: 1em; display:inline-block; 
  width:max-content; padding: 0.5em; margin: 0.5em;
}

.btn {padding: 10px;font-size: 10px;color: var(--secondary);background: #777777;border: var(--primary);border-radius: 5px;
      text-align: center; border:3px;border-style: solid;}
.btn:hover {padding: 10px;font-size: 15px;color: var(--secondary);background: #eb0000;border: var(--primary);border-radius: 5px;
      text-align: center; border:5px; border-style: solid;}



.file{display: inline-block; height: auto; width: auto; text-align: center; padding: 20px;  font-family: "Brush Script MT", cursive; font-style: italic;}
.btn_image{padding: 10px; height:20px;width:20px; border-color: var(--secondary); border-radius: 10px; display: inline-block;}

/* home page */
a {
  text-decoration: none;
  color: inherit;
}

.container .left:hover {
  transform: translateX(-11em);
}

.container .right:hover {
  transform: translateX(11em);
}

.main .project {
  width: 30%;
  display: inline-block;
  border-radius: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}

.main .project:hover {
  opacity: 1;
  width: 30%;
  background: linear-gradient(-45deg, var(--primary), var(--bgopaque), var(--primary), var(--bgopaque));
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradient 10s ease infinite;
  border-color: var(--secondary);
  border-radius: 1em;
  border-style: groove;
  border-width: 5px;
}

.page {
  background-color: var(--primaryopaque1);
  color: var(--secondary);
  height: auto;
  width: 30%;
  transform: perspective(10px) rotateX(1deg);
  transition: var(--linear);
  margin-bottom: 5em;
  display: inline-block;
  border: 2px solid var(--primary);
  padding: 1em;
  opacity: 0.7;
  font-size: 0.9em;
  font-style: normal;
  font-weight: bold;
}

.page:hover {
  border-radius: 1em;
  border-color: var(--secondary);
  border-width: 4px;
  border-style: double;
  opacity: 1;
}

.page:hover .description {
  margin-top: 0.1em;
  font-size: 0.9em;
}

.rightpageimage {
  width: 10%;
  height: auto;
  transform: translate3d(0.9em, 1.1em, 0);
  position: relative;
  z-index: 1;
  position: relative;
  transition: var(--ease);
  border-radius: 1em;
  opacity: 1;
}

.leftpageimage {
  width: 10%;
  transform: translate3d(-0.9em, 1.1em, 0);
  z-index: 1;
  position: relative;
  height: auto;
  opacity: 1;
  transition: var(--ease);
  border-radius: 1em;
}

.left:hover .leftpageimage,
.right:hover .rightpageimage {
  opacity: 0;
}


/** forms */
/* toggle checkbox */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--bg);
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--primary);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--bg);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active::after{
  width: 45px;
}