body{
    background-color: #000;
    background-repeat: repeat;
    background-size: 100%;
  }

  h1{color: #fff}
  h2{color: #fff}
  h3{color: #fff}
  h4{color: #fff}
  h5{color: #fff}
  h6{color: #fff}

.info{display: inline-block; overflow:auto; border:5px solid #fff;padding: 20px; 
    border-radius: 10px; background-color: #000; color:#fff; 
    border-style: double; height: 200px; width: 200px; font-size: 14px; opacity: .8}

.info:hover{height: 300px; width:300px; font-size: 21px; opacity:1}

.project{border:5px solid #fff; padding: 20px; background-color: #000;
  color:#fff; border-style: groove; height: auto; width: 70%; font-size: 18px;}

.experience{border:5px solid #fff; padding: 20px; background-color: #000; 
  color:#fff; border-style: groove; height: auto; width: 70%; font-size: 18px;}

.education{border:5px solid #fff; padding: 20px; background-color: #000; 
  color:#fff; border-style: groove; height: auto; width: 70%; font-size: 18px;}

.pic{height:100px;width:180px;border: #fff; border-radius: 5px;}
.pic:hover{height:300;width: 540px;}

.btn {padding: 10px;font-size: 10px;color: #fff;background: #777777;border: #000;border-radius: 5px;
      text-align: center; border:3px;border-style: solid;}
.btn:hover {padding: 10px;font-size: 15px;color: #fff;background: #eb0000;border: #000;border-radius: 5px;
      text-align: center; border:5px; border-style: solid;}
  



.btn_image{height:40px;width:40px;border: #000; border-radius: 5px;}
.btn_image:hover{height:100px;width:100px;border: #fff;border-width: 5px;}

