.footer{
    position: bottom;
    width: 103%;
    background-color: #121212;
    height: max-content;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-top: 5em;
    transform: translate3d(-1em, 0.5em, 0);
}

.content{display:inline-block; overflow:auto;}