.footer{
    position: bottom;
    width: 99.9vw;
    background-color: var(--primaryopaque1);
    height: max-content;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-top: 15em;
    margin-bottom: -0.5em;
    margin-left: -1em;
}

.content{display:inline-block; overflow:auto;}

/** to top button **/
.totop, .tonext {
    z-index: 1;
    font-size: 2em;
    font-weight: bold;
    font-weight: 700;
    color: var(--bgopaque);
    background-color: var(--primaryopaque1);
    border: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: absolute;
    margin-top: -3.5em;
    margin-left: -1em;
    width: 2.5em;
    height: 2.5em;
    right:2em;
    border-radius: 2em;
    opacity: 0.7;
    transform: rotate(90deg);
}

.totop:hover, .tonext:hover {
    background-color: var(--bgopaque);
    color: var(--secondary);
    opacity: 1;
    box-shadow: 0.1em 0.1em 1em var(--bgopaque);
    cursor: var(--knight), hand;
}

/** pulse effect **/
.scrollbutton button:hover::after {
    content: '';
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 6px solid var(--bgopaque);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s ease infinite;
}

/** home colouring **/
body[data-page="home"] .totop:hover, .tonext:hover {
    box-shadow: 0.1em 0.1em 1em var(--primaryopaque1);
}
body[data-page="home"] .scrollbutton button:hover::after {
    border: 6px solid var(--primaryopaque2);
}

/** pulse animation **/
@keyframes ring {
    0% {
        width: 2em;
        height: 2em;
        opacity: 1;
    }

    100% {
        width: 4em;
        height: 4em;
        opacity: 0;
    }
}

/** mobile optimisations **/
@media (orientation: portrait) {
    @media only screen and (max-width: 600px) {
        .footer {
            width: 240vw;
            margin-left: -80vw;
        }

        .totop {
            right: 0;
            margin-right: -25vh;
            margin-left: 0em;
            margin-top: -12vh;
        }
    }
}

@media (orientation: landscape) {
    @media only screen and (max-height: 600px) {
        .footer {
            width: 165vw;
            margin-left: -33vw;
        }
        
        .totop {
            right: 0;
            margin-right: -65vh;
            margin-left: 0em;
            margin-top: -25vh;
        }
    }
}