body {
    background-image: transparent;
    background-color: #343d52;
    scrollbar-width: none;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

a {
    text-decoration: none;
    color: inherit;
}

.main .project{
    width: 30%;
    display: inline-block;
    border-radius: 0;
    margin-top: 3em;
    margin-bottom: 3em;
}

.main .project:hover {
    opacity:1;
    background: linear-gradient(-45deg, #000, #48536e, #000, #48536e);
    background-size: 400% 400%; background-repeat: no-repeat; 
    background-attachment: fixed; animation: gradient 10s ease infinite;
    border-color: #fff; border-radius: 1em; border-style: groove; border-width: 5px;
}

.page {
    background-color: #121212;
    color: #fff;
    height:auto;
    width: 30%;
    transform: perspective(10px) rotateX(1deg);
    transition: all 0.5s linear;
    margin-bottom: 5em;
    display: inline-block;
    border: 2px solid #000;
    padding: 1em;
    opacity: 0.7;
    font-size: 0.9em; font-style: normal; font-weight: bold;
}
.page:hover {
    border-radius: 1em; border-color:#fff; border-width: 4px; border-style: double;
    opacity: 1;
}
.page:hover .description {
    margin-top: 0.1em;
    font-size: 0.9em;
}

.rightpageimage {
    width: 10%;
    height: auto;
    transform: translate3d(0.9em,1.1em,0);
    position: relative;
    z-index: 1;
    position:relative;
    transition: all 0.5s ease;
    border-radius: 1em;
    opacity: 1;
}

.leftpageimage {
    width: 10%;
    transform: translate3d(-0.9em, 1.1em, 0);
    z-index: 1;
    position:relative;
    height: auto;
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 1em;
}

.left:hover .leftpageimage, .right:hover .rightpageimage {
    opacity: 0;
}