.topnav {
  overflow: hidden;
  padding: 1em;
  margin-bottom: 3em;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4em 1em;
  font-size: 16px;
  border-radius: 0.5em;
  transition: all 0.3s linear;
  background-color: #000;
}

/* Change the color of links on hover */
.topnav a.active{
  background-color: #4B4B4C;
}
.topnav a.active:hover{
  background-color: #4B4B4C;
  color: #fff;
}

.topnav a:hover {
  background-color: #fff;
  color: #000;
  padding: 1em 1em;
}


