.navbar {
  overflow: hidden;
  margin-bottom: 1.5em;
  width: 99.9vw;
  margin-top: -0.5em;
  margin-left: -1em;
  transition: all 0.5s ease;
  display: inline-block;
}

.navbar:hover {
  background-color: var(--primaryopaque1);
}

/* Style the links inside the navigation bar */
.topnav a{
  display: inline-block;
  color: var(--secondary);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.4em 1em;
  font-size: 20px;
  border-radius: 0.5em;
  transition: all 0.3s linear;
  background-color: var(--primary);
  border-width: 0;
  margin-right: 0.1em;
  margin-left: 0.1em;
  margin-bottom: 1.5em;
  transform: translateX(-0.9vw)
}

/* Change the color of links on hover */
.topnav a.active{
  background-color: var(--bgopaque);
  color: #fff;
}
.topnav a.active:hover{
  background-color: var(--bg);
  color: #fff;
}

.topnav a:hover {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 1em 1em;
  min-width: 5em;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: -0.5em;
  cursor: var(--knight), hand;
}

.controlpanel {
  display: inline-block;
}

.controlpanel input[type=checkbox], .controlpanel label,
.controlpanel input:checked+label {
  transform: translate3d(2em, 2.2em, 0);
  z-index: 1000;
}


.navbar label,
.navbar input:checked+label,
.navbar label::after {
  transition: var(--ease);
}

.navbar label::after {
  background-color: transparent
}

.navbar:hover label::after {
  background-color: var(--primary);
}

.navbar label,
.navbar input:checked+label {
  background-color: transparent;
}

.navbar:hover label,
.navbar:hover input:checked+label {
  background-color: var(--bg);
  cursor: var(--king), hand;
}

/** mobile optimisations **/
@media (orientation: portrait) {
  @media only screen and (max-width: 600px) {
    .navbar {
      width: 240vw;
      margin-left: -80vw;
    }
    .topnav a {
      display: block;
      margin-bottom: 0;
      width: 102%;
    }

    .controlpanel {
      display: none;
    }
  }
}

@media (orientation: landscape) {
  @media only screen and (max-height: 600px) {
    .navbar {
      width: 165vw;
      margin-left: -33vw;
      overflow: clip;
    }

    .controlpanel input[type=checkbox], .controlpanel label, .controlpanel input:checked+label {
      transform: translate3d(5vw, 9vh, 0);
    }
  }
}