.card {
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 1em #000;
    border-width: 0;
    background: var(--primaryopaque1);
    color: var(--secondary);
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    align-content: left;
    justify-content: left;
    transition: var(--ease);
  }
.card:hover {
    background-color: var(--bg);
}

.card p {
    margin: 0.5rem;
    transition: var(--ease);
}
.card:hover p {
    color: white;
}

.card img {
    width: 115%;
    transform: translateX(-0.8rem);
    height: 60%;
    margin-bottom: 1em;
    transition: var(--ease);
}
.card:hover img {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.selected {
    box-shadow: 0.1em 0.1em 1em var(--highlight);
}