@import "cards.css";
@import "imageBoxes.css";
@import "textBoxes.css";
@import "buttons.css";
@import "scrollBox.css";
@import "infoOverlay.css";

@keyframes skeleton-loading {
    0% {
        background-color: var(--bgopaque);
    }

    100% {
        background-color: var(--primaryopaque1);
    }
}

.skeleton { animation: skeleton-loading 1s linear infinite alternate;}

.small {
    height: 2.5rem;
    width: 2.5rem; 
}
.medium {
    height: 6rem;
    width: 6rem;  
}
.large {
    height: 12rem;
    width: 12rem; 
}
.long {
    height: 20rem;
    width: 15rem; 
}

.topRight {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.bottomRight {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.page {
    min-height: 80vh;
    width: 100vw;
    overflow: hidden;
}

.marginTop {
    margin-top: 2rem;
}
.marginBottom {
    margin-bottom: 2rem;
}
.marginLeft {
    margin-left: 2rem;
}
.marginRight {
    margin-right: 2rem;
}

.info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: var(--ease);
    padding-bottom: 0.5rem;
}
.infoSelector {
    border-radius: 0.5rem;
    text-decoration: underline;
}

.bioBox, .cardScrollBox {
    display: inline-block;
    width: 70vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.cardScrollBox {
    padding: 0
}

.highlightBox {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-left: 15%; margin-right: 15%; padding: 0;
    color:var(--secondary); transition: var(--ease); overflow:hidden;
    display: flex; flex-direction: row, hand;
    border-radius: 0.5rem;
}
.highlightBox .highlightBoxImage {
    width: 22%;
    display: block;
  }
.highlightBoxText {
    text-align: left; padding: 2rem;
}

.highlightBox:hover {    
    background-color: var(--bgopaque);
}