@import "cards.css";
@import "imageBoxes.css";
@import "textBoxes.css";

.page {
    min-height: 80vh;
    width: 100vw;
    overflow: hidden;
}

.marginTop {
    margin-top: 2rem;
}
.marginBottom {
    margin-bottom: 2rem;
}

.info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: var(--ease);
}
.infoSelector {
    box-shadow: var(--bgopaque) 0px 2px 4px, var(--bgopaque2) 0px 7px 13px -3px, var(--bglight) 0px -3px 0px inset;
    border-radius: 0.5rem;
    text-decoration: underline;
}

.highlightBox {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-left: 10%; margin-right: 10%; padding: 0;
    color:var(--secondary); transition: var(--ease); overflow:hidden;
    display: flex; flex-direction: row, hand;
    border-radius: 0.5rem;
}
.highlightBox .highlightBoxImage {
    max-width: 25%;
    height:fill;
    display: block;
    object-fit: fill;
  }
.highlightBoxText {
    text-align: left; padding: 2rem;
}

.highlightBox:hover {    
    background-color: var(--bgopaque);
}