h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6, .p,
.h1Hold, .h2Hold, .h3Hold, .h4Hold, .h5Hold, .h6Hold, li, a {
    color: var(--bglight);
    transition: var(--ease);
    font-family: "Monaco", monospace;
}
.h1:hover, .h2:hover, .h3:hover, .h4:hover, .h5:hover, .h6:hover,
.h1Hold:hover, .h2Hold:hover, .h3Hold:hover, .h4Hold:hover, .h5Hold:hover, .h6Hold:hover {
    color: var(--secondary);
    font-weight: bold;
}
.h1Hold, .h2Hold, .h3Hold, .h4Hold, .h5Hold, .h6Hold {
    font-family: "Courier New", "Lucida Console", monospace;
}

.h1, .h1:hover, .h1Hold, .h1Hold:hover {
    font-size: 2.5rem;
}
.h2, .h2:hover, .h2Hold, .h2Hold:hover {
    font-size: 2rem;
}
.h3, .h3:hover, .h3Hold, .h3Hold:hover {
    font-size: 1.75rem;
} 
.h4, .h4:hover, .h4Hold, .h4Hold:hover {
    font-size: 1.5rem;
} 
.h5, .h5:hover, .h5Hold, .h5Hold:hover {
    font-size: 1.25rem;
} 
.h6, .h6:hover, .h6Hold, .h6Hold:hover {
    font-size: 1rem;
}
.p, .p:hover {
    font-size: 1rem;
}

.byLetter {
    display: inline;
    transition: var(--ease);
}

li {
    width: fit-content;
}

.link {
    text-decoration: underline;
    box-shadow: inset 0 0 0 0 var(--bg);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: var(--ease), box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}
  
.link:hover {
    text-decoration-color: var(--bg);
    cursor: var(--bishop), hand;
    box-shadow: inset 100vw 0 0 0 var(--bg);
    color: var(--bglight);
}